<a href="https://colab.research.google.com/github/joosomi/Cheerly-UP/blob/develop/%EA%B8%B0%EC%B6%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

작업형 1-1

In [4]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 23.85 MiB/s, done.
Resolving deltas: 100% (321/321), done.

In [ ]:
import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/301_housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [ ]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
df= df.dropna()
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [ ]:

len(df) #20433
len(df)*0.7 #14303.09

14303.099999999999

In [ ]:
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [ ]:
df_train = df.iloc[:int(len(df)*0.7)]
df_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
14436,-117.24,32.80,28.0,1072.0,331.0,692.0,321.0,2.1357,187500.0,NEAR OCEAN
14437,-117.24,32.80,18.0,2205.0,661.0,874.0,580.0,3.8018,112500.0,NEAR OCEAN
14438,-117.24,32.80,19.0,1863.0,497.0,868.0,503.0,2.2880,210000.0,NEAR OCEAN
14439,-117.24,32.80,30.0,1917.0,462.0,828.0,437.0,2.4671,276300.0,NEAR OCEAN
14440,-117.24,32.80,29.0,3376.0,882.0,1513.0,843.0,3.1010,238200.0,NEAR OCEAN

In [ ]:
import numpy as np
print(int(np.quantile(df_train['housing_median_age'], 0.25)))
# result = int(df['housing_median_age'].quantile(0.25))
# result

19

In [ ]:
###2
import pandas as pd

df2 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/302_worlddata.csv")
print(df2.head())

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

In [ ]:
df_2000 = df2[df2['year']==2000].drop('year', axis=1)
print(df_2000)

   Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
1            0    132.0      0.0    138.0    57.0              128.0

   Argentina  Armenia  Australia  Austria  ...  Tanzania    USA  Uruguay  \
1       25.0    179.0       72.0     75.0  ...       6.0  158.0     35.0

   Uzbekistan  Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
1       101.0     18.0      100.0        2    0.0    19.0      18.0

[1 rows x 193 columns]

In [ ]:
df_2000_t = df_2000.transpose()
# df_2000_t.reset_index()
df_2000_t.columns = ['data']
df_2000_t

              data
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]

In [ ]:
len(df_2000_t[df_2000_t['data']> df_2000_t['data'].mean()])

76

In [ ]:
##3
import pandas as pd

df3 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/303_titanic.csv")
print(df3.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S

In [ ]:
result = df3.isnull().sum().sort_values(ascending=False).reset_index()
result.columns= ['var', 'data']
print(result)

            var  data
0           Age   177
1         Cabin   118
2      Embarked     2
3   PassengerId     0
4      Survived     0
5        Pclass     0
6          Name     0
7           Sex     0
8         SibSp     0
9         Parch     0
10       Ticket     0
11         Fare     0

In [ ]:
print(result['var'][0])

Age

In [5]:
#####작업형 2

import pandas as pd

X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/304_y_train.csv")

In [6]:
X_test.head()
X_test.info()

col_num = ['Age', 'AnnualIncome' , 'FamilyMembers', 'ChronicDiseases']
col_cat = ['Employment Type', 'GraduateOrNot','FrequentFlyer', 'EverTravelledAbroad']
col_y = ['TravelInsurance']
ID = y_train['ID']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB

In [ ]:
X_train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1704,26,Private Sector/Self Employed,Yes,1400000,3,1,No,Yes
1,491,28,Private Sector/Self Employed,Yes,1100000,4,1,No,No
2,414,33,Private Sector/Self Employed,Yes,1400000,4,0,No,Yes
3,120,28,Private Sector/Self Employed,Yes,800000,3,1,No,No
4,1268,33,Government Sector,Yes,1000000,5,0,No,Yes

In [ ]:
y_train.head()

     ID  TravelInsurance
0  1704                0
1   491                1
2   414                1
3   120                0
4  1268                1

In [ ]:
X_train.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [ ]:
X_test.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [ ]:
y_train.isnull().sum()

ID                 0
TravelInsurance    0
dtype: int64

In [7]:
#전처리

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
X_train[col_cat] = X_train[col_cat].apply(label.fit_transform)
X_test[col_cat] = X_test[col_cat].apply(label.fit_transform)

In [8]:
X_train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1704,26,1,1,1400000,3,1,0,1
1,491,28,1,1,1100000,4,1,0,0
2,414,33,1,1,1400000,4,0,0,1
3,120,28,1,1,800000,3,1,0,0
4,1268,33,0,1,1000000,5,0,0,1

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train[col_num])
X_train[col_num ] = scaler.transform(X_train[col_num])
X_test[col_num] = scaler.transform(X_test[col_num])
print(X_train.head())
X_train.drop("ID", axis=1)
X_test.drop("ID", axis=1)

     ID       Age  Employment Type  GraduateOrNot  AnnualIncome  \
0  1704 -1.250142                1              1      1.236765
1   491 -0.568579                1              1      0.432526
2   414  1.135329                1              1      1.236765
3   120 -0.568579                1              1     -0.371713
4  1268  1.135329                0              1      0.164446

   FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad
0      -1.074530         1.582998              0                    1
1      -0.454209         1.582998              0                    0
2      -0.454209        -0.631713              0                    1
3      -1.074530         1.582998              0                    0
4       0.166113        -0.631713              0                    1

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,-0.909361,0,1,-1.175952,0.166113,-0.631713,0,0
1,-1.590924,1,1,2.041004,-1.074530,-0.631713,1,0
2,0.794547,0,1,-0.773833,-1.074530,-0.631713,0,0
3,1.135329,0,1,-0.907872,-0.454209,-0.631713,0,0
4,1.135329,1,1,1.504844,-1.074530,1.582998,1,1
...,...,...,...,...,...,...,...,...
492,-0.909361,0,1,-0.505753,-1.074530,1.582998,0,0
493,-0.568579,0,1,-1.712111,0.786434,-0.631713,0,0
494,-0.227798,1,1,0.700605,-0.454209,-0.631713,0,0
495,0.112984,1,0,-1.041912,1.406756,-0.631713,1,0
496,-0.568579,1,1,0.566566,0.166113,-0.631713,0,0

In [38]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3, random_state =123 ,stratify=y_train[col_y].values.ravel())

In [15]:
print(y_tr.head())

        ID  TravelInsurance
1402   993                0
104   1420                0
1120  1464                0
1339   343                0
1109   421                0

In [46]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier()
model1.fit(X_tr,y_tr)
model1

RandomForestClassifier()

In [47]:
import pandas as pd
pred1 = model1.predict_proba(X_val)

pred1 = pred1[1][:,1]
pred1

array([0.03, 0.06, 0.11, 0.07, 0.06, 0.58, 0.21, 0.16, 0.28, 0.92, 0.25,
       0.36, 0.15, 0.1 , 0.75, 0.2 , 0.17, 0.84, 0.2 , 0.17, 0.15, 0.92,
       0.08, 0.33, 0.07, 0.25, 0.18, 0.32, 0.97, 0.22, 0.07, 0.31, 0.91,
       0.73, 0.38, 0.26, 0.22, 1.  , 0.26, 1.  , 0.05, 0.08, 0.18, 0.18,
       0.12, 0.19, 0.22, 0.11, 0.07, 0.95, 0.05, 0.19, 0.28, 0.94, 0.5 ,
       0.09, 0.15, 0.26, 0.99, 0.31, 0.01, 0.43, 0.11, 1.  , 0.98, 0.99,
       0.14, 0.03, 1.  , 0.93, 1.  , 0.21, 0.12, 0.91, 0.91, 0.99, 0.8 ,
       0.49, 0.38, 1.  , 0.01, 0.43, 0.18, 0.39, 0.27, 0.06, 1.  , 0.25,
       0.2 , 0.03, 1.  , 0.22, 0.45, 0.03, 0.97, 0.99, 0.91, 0.25, 0.06,
       0.35, 0.17, 0.15, 1.  , 0.72, 0.67, 0.09, 0.64, 0.49, 0.99, 0.37,
       0.51, 0.04, 0.43, 0.13, 0.82, 0.09, 0.14, 0.11, 0.05, 0.3 , 0.19,
       0.85, 0.02, 0.91, 0.33, 0.2 , 0.25, 0.15, 0.06, 0.71, 0.49, 0.92,
       0.07, 0.07, 0.16, 0.97, 0.01, 0.04, 0.27, 0.4 , 0.16, 1.  , 0.16,
       0.32, 0.02, 0.97, 0.17, 0.11, 0.38, 0.28, 0.16, 0.15, 0.09, 0.07,
       0.45, 0.28, 0.5 , 0.22, 0.11, 0.73, 0.94, 0.05, 0.81, 0.  , 0.03,
       0.04, 0.25, 0.12, 0.26, 0.17, 0.05, 0.05, 0.97, 0.89, 0.01, 0.2 ,
       0.17, 0.9 , 0.3 , 0.98, 0.17, 0.52, 0.14, 0.13, 0.15, 0.11, 0.11,
       0.36, 0.  , 0.18, 0.29, 0.27, 0.28, 0.22, 0.9 , 1.  , 0.86, 0.05,
       0.43, 0.35, 0.96, 0.12, 0.99, 0.39, 0.32, 0.41, 0.11, 0.28, 0.25,
       0.11, 0.5 , 0.05, 0.19, 0.12, 0.19, 0.33, 0.98, 0.06, 0.94, 0.06,
       0.2 , 0.83, 0.03, 0.25, 0.  , 0.38, 0.93, 0.97, 0.03, 0.34, 0.97,
       0.28, 0.07, 0.01, 0.26, 0.02, 0.09, 0.98, 0.16, 0.2 , 0.22, 0.54,
       0.12, 0.13, 0.51, 0.06, 0.18, 1.  , 0.24, 0.17, 0.12, 0.1 , 0.17,
       0.15, 0.18, 0.03, 0.13, 0.99, 0.21, 0.89, 0.18, 0.02, 1.  , 0.97,
       0.31, 0.16, 0.4 , 0.09, 0.14, 0.34, 0.18, 0.37, 0.96, 0.1 , 0.93,
       0.13, 0.98, 1.  , 0.04, 0.13, 1.  , 0.21, 1.  , 1.  , 0.08, 0.48,
       0.96, 0.08, 0.93, 0.07, 0.85, 0.76, 1.  , 0.95, 0.17, 0.21, 1.  ,
       0.76, 0.97, 0.85, 0.18, 0.11, 0.83, 0.97, 1.  , 1.  , 0.16, 0.37,
       0.94, 0.04, 0.58, 0.07, 0.13, 0.11, 0.41, 0.04, 0.12, 0.05, 0.04,
       0.97, 0.07, 0.04, 0.17, 0.18, 0.99, 0.95, 0.59, 0.05, 0.03, 0.29,
       1.  , 0.34, 0.73, 0.02, 0.34, 0.17, 0.2 , 0.1 , 0.22, 0.21, 0.22,
       0.05, 0.12, 0.32, 0.04, 0.09, 0.34, 0.17, 0.29, 0.88, 0.15, 0.73,
       0.95, 0.86, 0.41, 0.03, 0.12, 0.28, 0.14, 0.1 , 0.55, 0.26, 0.55,
       0.08, 0.28, 0.04, 0.28, 0.2 , 0.24, 0.52, 0.93, 0.24, 0.36, 0.04,
       0.36, 0.09, 0.08, 0.18, 0.03, 0.36, 0.63, 0.17, 1.  , 0.35, 0.16,
       0.71, 0.77, 0.11, 0.17, 0.19, 1.  , 0.95, 0.04, 0.12, 0.67, 0.94,
       0.18, 0.17, 0.91, 0.53, 0.26, 0.81, 0.07, 0.76, 0.2 , 0.91, 0.66,
       0.25, 0.04, 0.27, 1.  , 0.14, 0.01, 0.11, 0.58, 0.77, 0.29, 0.99,
       0.04, 0.34, 0.23, 0.13, 0.99, 0.88, 0.04, 0.12, 0.8 , 0.05, 0.06,
       0.9 , 0.22, 0.28, 0.3 , 0.12, 0.6 , 0.17, 0.24, 0.1 , 0.1 , 0.32,
       0.75, 0.  , 0.39, 0.17, 0.07, 0.84, 0.98])

In [48]:
from sklearn.metrics import roc_auc_score

score1 = roc_auc_score(y_val['TravelInsurance'], pred1)
print(score1)

0.8364522417153997

In [57]:
# X_test = X_test.drop("ID",axis=1)
X_test.head()

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,-0.909361,0,1,-1.175952,0.166113,-0.631713,0,0
1,-1.590924,1,1,2.041004,-1.074530,-0.631713,1,0
2,0.794547,0,1,-0.773833,-1.074530,-0.631713,0,0
3,1.135329,0,1,-0.907872,-0.454209,-0.631713,0,0
4,1.135329,1,1,1.504844,-1.074530,1.582998,1,1

In [63]:
###작업형 3

import pandas as pd
import scipy
import scipy.stats as stats
from math import sqrt

a = pd.read_csv("./yemoonsaBigdata/datasets/supplement/airquality.csv")
print(a.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [61]:
meanX = round(a['Wind'].mean(),2)
meanX

9.96

In [64]:
dir(scipy.stats)

['ConstantInputWarning',
 'Covariance',
 'DegenerateDataWarning',
 'FitError',
 'NearConstantInputWarning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_axis_nan_policy',
 '_biasedurn',
 '_binned_statistic',
 '_binomtest',
 '_boost',
 '_common',
 '_constants',
 '_continuous_distns',
 '_covariance',
 '_crosstab',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_entropy',
 '_fit',
 '_hypotests',
 '_kde',
 '_ksstats',
 '_levy_stable',
 '_mannwhitneyu',
 '_morestats',
 '_mstats_basic',
 '_mstats_extras',
 '_multivariate',
 '_mvn',
 '_odds_ratio',
 '_page_trend_test',
 '_qmc',
 '_qmc_cy',
 '_rcont',
 '_relative_risk',
 '_resampling',
 '_rvs_sampling',
 '_sobol',
 '_statlib',
 '_stats',
 '_stats_mstats_common',
 '_stats_py',
 '_stats_pythran',
 '_tukeylambda_stats',
 '_variation',
 '_warnings_errors',
 'alexandergovern',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'barnard_exact',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betabinom',
 'betaprime',
 'biasedurn',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'binomtest',
 'boltzmann',
 'bootstrap',
 'boschloo_exact',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'cramervonmises',
 'cramervonmises_2samp',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'differential_entropy',
 'directional_stats',
 'dirichlet',
 'distributions',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'epps_singleton_2samp',
 'erlang',
 'expectile',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fit',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'genhyperbolic',
 'geninvgauss',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gibrat',
 'gilbrat',
 'gmean',
 'gompertz',
 'goodness_of_fit',
 'gstd',
 'gumbel_l',
 'gumbel_r',
 'gzscore',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_1samp',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwo',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'laplace_asymmetric',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'loguniform',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_abs_deviation',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'monte_carlo_test',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multiscale_graphcorr',
 'multivariate_hypergeom',
 'multivariate_normal',
 'multivariate_t',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nchypergeom_fisher',
 'nchypergeom_wallenius',
 'nct',
 'ncx2',
 'nhypergeom',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'page_trend_test',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'permutation_test',
 'planck',
 'pmean',
 'pointbiserialr',
 'poisson',
 'poisson_means_test',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'probplot',
 'qmc',
 'randint',
 'random_correlation',
 'random_table',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewcauchy',
 'skewnorm',
 'skewtest',
 'somersd',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 'studentized_range',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapezoid',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'truncpareto',
 'truncweibull_min',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukey_hsd',
 'tukeylambda',
 'tvar',
 'uniform',
 'uniform_direction',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zipfian',
 'zmap',
 'zscore']

In [66]:
from scipy.stats import ttest_1samp

result = ttest_1samp(a['Wind'], 10)
# help(scipy.stats.ttest_1samp)
print(result)

TtestResult(statistic=-0.14916084375481536, pvalue=0.8816244365863931, df=152)

In [67]:
print(round(result.statistic,2))

-0.15

In [68]:
print(round(result.pvalue,2))

0.88

In [70]:
if result.pvalue >= 0.05:
  print("채택")
else: print('기각')

채택

In [72]:
##
import pandas as pd
import scipy
import scipy.stats as stats
from math import sqrt


b = pd.read_csv("./yemoonsaBigdata/datasets/supplement/chickweight.csv")
print(b.head())

   weight  Diet
0      42     1
1      51     1
2      59     1
3      64     1
4      76     1

In [88]:
mean_1 = b.loc[b['Diet']==1].mean()
mean_4 = b.loc[b['Diet']==4].mean()

round(mean_1,2)

weight    102.65
Diet        1.00
dtype: float64

In [79]:
round(mean_4,2)

weight    135.26
Diet        4.00
dtype: float64

In [89]:
from scipy.stats import ttest_ind
# help(scipy.stats.ttest_ind)

result = scipy.stats.ttest_ind(b.loc[b.Diet==1], b.loc[b.Diet==4], alternative='two-sided', equal_var =False)
result

<ipython-input-89-430e3f92475c>:4: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  result = scipy.stats.ttest_ind(b.loc[b.Diet==1], b.loc[b.Diet==4], alternative='two-sided', equal_var =False)

Ttest_indResult(statistic=array([-4.40861754,        -inf]), pvalue=array([1.68459526e-05, 0.00000000e+00]))

In [91]:
print(round(result.statistic[0],2))

-4.41

In [92]:
print(round(result.pvalue[0],2))

0.0

In [95]:
### anova

c = pd.read_csv("./yemoonsaBigdata/datasets/supplement/StudentsPerformance1.csv",encoding='euc-kr')
print(c.head())

   ID   인종  수학 점수  읽기 점수  쓰기 점수
0   1  B그룹     72     72     74
1   2  C그룹     69     90     88
2   3  B그룹     90     95     93
3   4  A그룹     47     57     44
4   5  C그룹     76     78     75

In [101]:
mean_A = c.loc[c.인종=='A그룹', '수학 점수'].mean()
mean_B= c.loc[c.인종=='B그룹', '수학 점수'].mean()
mean_C= c.loc[c.인종=='C그룹', '수학 점수'].mean()
mean_D= c.loc[c.인종=='D그룹', '수학 점수'].mean()

In [102]:
mean_A

61.62921348314607

In [106]:
import scipy
from scipy.stats import f_oneway
# dir(scipy.stats)
# help(scipy.stats.f_oneway)

result = scipy.stats.f_oneway(c.loc[c.인종=='A그룹', '수학 점수'], c.loc[c.인종=='B그룹', '수학 점수'], c.loc[c.인종=='C그룹', '수학 점수'],c.loc[c.인종=='D그룹', '수학 점수'])
result

F_onewayResult(statistic=4.6599225222506835, pvalue=0.0030804403240573554)

In [108]:
###4.
d = pd.read_csv("./yemoonsaBigdata/datasets/supplement/StudentsPerformance2.csv", encoding='euc-kr')

print(d.head())

   ID  성별 부모 학력 수준 학업 성적
0   1  여성       중간    보통
1   2  여성       낮음    우수
2   3  여성       높음    우수
3   4  남성       중간    낮음
4   5  남성       낮음    보통

In [110]:
table = pd.crosstab(d['성별'],d['학업 성적'])
print(table)

학업 성적   낮음   보통   우수
성별
남성     115  283   84
여성      83  313  122

In [116]:
X1 = table.loc['남성','우수']
X2= table.loc['여성','우수']
X1

84

In [117]:
X2

122

In [119]:
print(int(abs(X1-X2)))

38

In [122]:
from scipy.stats import chi2_contingency
# help(scipy.stats.chi2_contingency)
result = chi2_contingency(table)
result

Chi2ContingencyResult(statistic=12.4115784293196, pvalue=0.0020177157693633684, dof=2, expected_freq=array([[ 95.436, 287.272,  99.292],
       [102.564, 308.728, 106.708]]))